:root {
    --iron-overlay-backdrop-opacity: 1;
    --iron-overlay-backdrop-background-color: rgba(0,0,0,.25);
}

iron-overlay-backdrop {
    backdrop-filter: var(--iron-overlay-backdrop-filter, blur(10px));
    -webkit-backdrop-filter: var(--iron-overlay-backdrop-filter, blur(10px));
}
